<% layout("/layouts/boilerplate") %>

<div class="row mt-4"> 
    <div class="col-6 offset-3">
   <h2 class="mb-3">Register yourself on WanderLust! &heartsuit;</h2> 

   <form action="/signup" method="post" novalidate class="needs-validation">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input class="form-control" type="text" name="username" id="username" placeholder="enter username" required />
        <div class="valid-feedback">
         looks good!
        </div> 
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input class="form-control" type="text" name="email" id="email" placeholder="enter email" required /> 
    </div>
    <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input class="form-control" type="password" name="password" id="password" placeholder="enter your password" required>
    <div class="invalid-feedback">
        please enter a strong password!
       </div>
</div>
    <button class="btn btn-outline-info mb-3">Signup</button>
   </form>

</div>
</div>

